# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

#Siliconlab
#*.#1
#*.#2
#*.#3
#*.IAB
#*.IAD
#*.IMB
#*.IMD
#*.M51
#*.PFI
#*.PO
#*.PR
#*.PRI
#*.PS
#*.SearchResults
#*.WK3
#*.wsp
#*.out
